button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 14px;
    padding: 10px;
    width: 160px;
}

button.warning {
    border-color: #c20000;
    color: #c20000;
}

button.warning:hover {
    background-color: #c20000;
}

button.success {
    border-color: #48a0a2;
    color: #48a0a2;
}

button.success:hover {
    background-color: #48a0a2;
}

button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
